.header_container_div {
    background-color: none;
    width: 100%;
}
.top_div {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}
.login_div {
    width: 200px;
}
.login_div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.hamburger_button {
    color: #d4d8d5;
    width: 100px ;
}
.bottom_div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bottom_div_media {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 30px;
    border-width: 0px 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #000015, #d4d8d5, #000015)1 100%;
}
.hamburger_button_div {
    display: none;
}
@media screen and (max-width: 900px) {
    .bottom_div {
        display: none;
    }
    .hamburger_button_div {
        display: contents;
    }
}
.header_button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    height: 50px;
    padding: 5px;
    margin: 5px;
    border: solid #d4d8d566 3px;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
}

.header_button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.header_button:active {
    color: #020221;
}

.header_button:active:after {
    background: transparent;
}

.header_button:hover:before {
    opacity: 1;
}

.header_button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #020221;
    left: 0;
    top: 0;
    border-radius: 10px;
    /* opacity: 30%; */
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.breaker_hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #000015, #d4d8d5, #000015);
}